section#footer-menu
  a(href="index.pug")
    i.fa.fa-home
    span Home
  a(href="schedule.pug")
    i.fa.fa-calendar
    span Agenda
  //- img.logo(src="./img/ksum-logo.png")
  a(href="participants.pug")
    i.fa.fa-users
    span Participants
  a(href="resources.pug")
    i.fa.fa-folder-open
    span Resources
  a(href="poll.pug")
    i.fa.fa-check-square-o
    span Poll