#home-slider{
  background: url('../img/bg1.jpg');
  background-size: cover;
  height: 38vh;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;

  img{
    width:200px;
  }

  h3{
    font-family: 'Righteous', cursive;
    text-align: center;
  }

  h5{
    font-family: 'Blinker', sans-serif;
  }
}

#know-more{
  padding: 10px;

  h3{
    font-family: 'Righteous', cursive;
    text-align: center;
    padding: 10px 0px;
  }

  .grid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

    .grid-item{
      width: 50%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 10px;

      &:hover{
        text-decoration: none;
        box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.1);
      }

      img{
        width: 100%;
      }
    }
  }
}

#ranking{
  background: url('../img/gmap.jpg');
  background-size: cover;
  background-position: center;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  font-family: 'Righteous', cursive;
  // padding-left:25px;
  padding-top:40px;
  font-size: 24px;
  color: #f05a22;
  text-shadow: 1px 1px 2px rgba(0,0,0,.5);

  &:hover{
    position: relative;
    top: 2px;
    left: 1px;     
    text-decoration: none;
  }
}