@import "./base";
@import "./mixins";

@import url('https://fonts.googleapis.com/css?family=Raleway|Righteous|Courgette|Blinker|Permanent+Marker|Kaushan+Script&display=swap');

$fa-font-path:"../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome";

@import "../../node_modules/magnific-popup/src/css/main";

h1{
  font-family: 'Righteous', cursive;
}

p{
  font-family: 'Raleway', sans-serif;
}

body{
  // overflow: hidden;
  padding-bottom: 60px;
  
  &:before{
    @include my_bp(md){
      content: "Kindly view from Mobile Browser"
    }
  }
}

nav.navbar{
  z-index: 9999;
}

.section-content{
  margin:15px;
  border-radius: 15px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.09);

  @include my_bp(md){
    display: none !important;
  }
}

#footer-menu{
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 98;
  background-color: rgba(249,249,249,.98);
  min-height: 60px;
  box-shadow: 0 -5px 10px 0 rgba(0,0,0,.06);
  overflow: hidden;
  position: fixed;
  transition: all 250ms ease;
  display: flex;
  align-items: center;

  @include my_bp(md){
    display: none !important;
  }

  .logo{
    width:75px;
    padding: 5px;
  }

  a{
    width:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1f1f1f;
    padding-bottom: 4px;

    &.active-nav{
      color:#f05a22;
    }

    &:hover{
      text-decoration: none;
      box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.1);
    }

    i{
      padding-top: 10px;
      font-size: 22px;
      font-weight: bold;
    }

    span{
      padding-top:4px;
      font-size: 12px;
    }
  }
}

.buttonDownload {
	display: none;
  position: relative;
  z-index: 9999;
  border-radius: 5px;
	padding: 10px 25px;
  // margin:10px;
	background-color: #00aeef;
	color: white;
  
	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
  text-indent: 15px;
  cursor:pointer;
  
  &:hover {
    background-color: #333;
    color: white;
  }

  &:before, &:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
  }

  &:before {
    width: 15px;
    height: 5px;
    border-style: solid;
    border-width: 0 2px 2px;
  }

  &:after {
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-top: -7px;
    
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;
    
    animation: downloadArrow 2s linear infinite;
  }

  &:hover:before {
    border-color: #00aeef;
  }

  &:hover:after {
    border-top-color: #00aeef;
  }

}

@keyframes downloadArrow {
	0% {
		margin-top: -7px;
		opacity: 1;
	}
	
	0.001% {
		margin-top: -15px;
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		margin-top: 0;
		opacity: 0;
	}
}