#resource-section{
  padding-top: 30px;

  h2{
    font-family: 'Righteous', cursive;
    padding-bottom: 10px;
  }
}

.resource{
  padding: 10px;

  h3{
    font-family: "Blinker", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
  }

  .link-list{
    display: flex;
    flex-direction: column;

    a{
      padding: 10px;
      border-bottom: 1px solid rgba(0,0,0,.1);
      font-family: "Blinker", sans-serif;
      color: #333;

      i{
        padding-left: 10px;
        // color: #f05a22;
      }
  
      &:hover{
        text-decoration: none;
        box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.1);

      }

      &:last-of-type{
        border: none;
      }
    }
  }
}