@import "./mixins";

$event-colors : ( #FFFD67, #EFC8FE, #FFBC57, #44F4C4, #F3827F);

[v-cloak] {
  display: none;

  &:before{
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: text-bottom;
    border: 2px solid currentColor;
    border-right-color: transparent;
    // stylelint-disable-next-line property-blacklist
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
  }
}

.site-navigation{
  background-color:#2a0845;
}

#schedule-section{
  padding-top: 30px;
  padding-bottom: 30px;

  h2{
    font-family: 'Righteous', cursive;
    padding-bottom: 20px;
  }
}

.right_side{
  h4{
    font-size: 16px;
    font-weight: bolder;
  }
  ul{
    list-style: none;
    padding-left: 10px;

    li{
      font-family: "Blinker", sans-serif;
      font-size: 14px;
    }
  }

  span{
    font-size: 12px;
    font-family: "Blinker", sans-serif;
    padding-left: 10px;

  }

}

.schedule{
  margin-bottom: 25px;

  h3{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 20px;
  }

  .filter{
    background: #CBCBCB;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 25px;

    .close{
      position: relative;
      display: inline-block;
      left: 10px;
      border: 1px solid #000;
      width: 20px;
      height: 20px;
      line-height: 14px;
      text-align: center;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .schedule-item{
    margin-left: 60px;
    border-left: 1px solid rgba(0,0,0,.1);
    border-bottom: 2px solid rgba(0,0,0,.1);
    padding: 15px 10px;
    padding-right: 0px;
    font-family: 'Blinker', sans-serif;

    h3{
      font-family: 'Blinker', sans-serif;
      font-size:18px;
      margin-bottom: 5px;
    }

    .item{
      display: inline-block;
      padding: 5px 8px;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
      border-radius: 4px;
      margin-bottom: 10px;
      a{
        color: #111;
      }
    }

    .time{
      position: absolute;
      left: 20px;
      color: #333;
    }

    .description{
      border-bottom: 1px solid rgba(200,200,200,.25);

      ul,ol{
        padding-left: 25px;
      }
      
      p{
        font-family: 'Blinker', sans-serif;
        margin-bottom: 5px;
      }

      h4{
        font-size: 16px;
        font-weight: bolder;
      }
    }

    .speakers{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px 0px 0px 0px;
      // border-bottom: 1px solid rgba(200,200,200,.25);
      // margin-bottom: 10px;

      p{
        font-size: 12px;
        margin: 0;
      }

      .speaker-item{
        display: flex;
        align-items:center;
        margin: 10px;
        margin-right: 0px;
        width: 100%;

        @include my_bp(sm){
          width: 150px;
          flex-direction: column;
        }

        img{
          width: 100px;
          border-radius: 50%;
          box-shadow: 2px 2px 0px #f05a22;
        }

        .descp{
          display: flex;
          flex-direction: column;
          // align-items: center;
          padding-left:5px;

          h3{
            font-size: 14px;
            margin-bottom: 5px;
            // text-align: center;
          }
  
          h4{
            font-size: 12px;
            font-weight: normal;
            margin: 0;
            // text-align: center;
          }
        }
        
      }
    }

    .details{
      // padding-left: 20px;
      font-size: 14px;
      padding-bottom: 5px;

      p{
        font-family: 'Blinker', sans-serif;
        font-size: 14px;
        margin:0;
      }

      .tag{

        a{
          padding-left: 25px;

          &:before{
            position: absolute;
            content: " ";
            width: 21px;
            height: 21px;
            border-radius: 50%;
            box-shadow: 1px 1px 3px rgba(0,0,0,.1);
            margin-left: -25px;
          }
        }
      }
    }

  }
  @for $i from 1 through length($event-colors) {
    .ev_#{$i}{
      .item{
        background: nth($event-colors, $i);

        &:hover{
          background: lighten(nth($event-colors, $i), 5%);
        }
      }

      .tag a:before{
        background: nth($event-colors, $i);
      }

      .tag a:hover:before{
        background: lighten(nth($event-colors, $i), 5%);
      }
    }
  }
}