@import "./mixins";

[v-cloak] {
  display: none !important;
}


#speaker-section{

  h2{
    font-family: 'Righteous', cursive;
    // padding-bottom: 20px;
    padding-top: 40px;
  }

  .speaker-list{
    display: flex;
    // text-align: center;
    flex-wrap: wrap;
    justify-content: center;

    padding-bottom: 40px;

    .speaker{
      width: 100%;
      margin-top: 20px;
      display: flex;

      @include my_bp(sm){
        width: 25%;
      }

      .round{
        width: 70px;
        height: 70px;
        background: #f05a22;
        border-radius: 50%;
        font-family: 'Blinker', sans-serif;
        color: white;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 1px 1px 0px #000;
      }

      img{
        width: 160px;
        border-radius: 50%;  
        padding: 10px;
        box-shadow: 1px 1px 5px #666;      
        cursor: pointer;
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

        &:hover{
          padding: 2px;
          transform: translateY(-5px);
        }
      }

      .descp{
        padding-top: 3px;
        padding-left: 10px;


        h4{
          font-size: 18px;
          font-family: 'Blinker', sans-serif;
          font-weight: bold;

        }

        h5{
          font-size: 14px;
          font-family: 'Blinker', sans-serif;
          margin:0;
        }
      }
    }
  }
}