doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  body
    
    section.section-content#home-slider
      //- img(src="./img/logo.png")
      h3 Regional Knowledge Exchange Workshop for Startups
      h5 Aug 20 & 21
      h5 Kochi Marriott Hotel, Kerala
      a.buttonDownload Install


    section.section-content#know-more
      h3 Know More
      .grid
        a.grid-item(href="https://startupmission.kerala.gov.in" target="_blank" rel="noopener" aria-label="ksum website")
          img(src="./img/ksum-logo.png")
        a.grid-item(href="https://www.startupindia.gov.in/" target="_blank" rel="noopener" aria-label="startup india website")
          img(src="./img/startup_india.png")

    a.section-content#ranking(href="https://goo.gl/maps/FjvgvHWBzYn4gyRu8") Get directions to venue

      
    include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/sw.js")
