doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/speakers.scss")
  body

    section#speaker-section
      .container
        .row
          .col-sm-9
            h2 Participants
            .speaker-list(v-cloak)
              .speaker(v-for="(item, index) in speakers" :key="index")
                //- img(:src="'./'+item.image" alt="iedc summit speaker img")
                //- img(src="./img/dp.jpg")
                .round {{item.state}}
                .descp
                  h4 {{item.name}}
                  h5 {{item.designation}}
                  h5 {{item.state}}
 
    include parts/footer.pug

script(src="./js/index.js")
script(src="./js/participants.js")