doctype html
html(lang='en')
  include parts/header.pug
  style.
    body{
      height:100vh;
    }
  body
    iframe(type='text/html' width='100%' height='100%' src='//www.menti.com/' frameborder='0')

  include parts/footer.pug

  script(src="./js/index.js")