doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/resources.scss")
  body

    section#resource-section
      .container
        .row
          .col-sm-9
            h2 Resources

    section.section-content.resource
      h3 Kerala Startup Ecosystem Report
      .link-list
        a(href="https://drive.google.com/file/d/1G8nhOfJuAEAaiSy_hKw85YXCRqqKEzd4/view" target="_blank" rel="noopener" aria-label="report 2018") Report 2018
          i.fa.fa-download
        a(href="https://drive.google.com/file/d/1sZFaeOLRLhueoUv380R7sIuGkyU4DCZL/view" target="_blank" rel="noopener" aria-label="report 2017") Report 2017
          i.fa.fa-download
        a(href="https://drive.google.com/file/d/1IuZMRRpwVAGC5OfDSDHoEVs10AjC2QcT/view" target="_blank" rel="noopener" aria-label="report 2016") Report 2016
          i.fa.fa-download

    section.section-content.resource
      h3 Startup Ranking Framework
      .link-list
        a(href="./static/SRF.pdf" aria-label="srf") Download
          i.fa.fa-download

    section.section-content.resource
      h3 Compendium of Good Practices for promoting startups in India
      .link-list
        a(href="https://drive.google.com/file/d/0B4CuzM4m1F8WR1hUNmhUcjFyaFdQWXpXLWlmXzZVRW5SU1Rr/view" target="_blank" rel="noopener" aria-label="compendium") Download
          i.fa.fa-download
    
    section.section-content.resource
      h3 Videos
      .link-list
        a(href="https://www.youtube.com/channel/UCGnD5pg8MOIetz93sEvCHbw" target="_blank" rel="noopener" aria-label="youtube") Watch Now
          i.fa.fa-youtube


    include parts/footer.pug

script(src="./js/index.js")