doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/schedule.scss")
  body

    section#schedule-section
      .container
        .row
          .col-sm-9
            h2 Agenda
            .schedule(v-cloak)
              //- .filter(v-if="filter_venue") Filter Venue: 
              //-   b {{filter_venue}}
              //-   .close(@click="filter_venue=''") x
              //- .filter(v-if="filter_cat") Filter Type: 
              //-   b {{filter_cat}}
              //-   .close(@click="filter_cat=''") x

              h3 Day 1: Tuesday, August 20
 
              .schedule-item(v-for="(item, index) in schedule" :key="index" :class="item.class?item.class:''")
                .time {{item.start}}
                h3 {{item.item}}
                .details
                  p {{item.start}} - {{item.end}} 
                .description(v-if="item.description")
                  vue-simple-markdown(:source="item.description")

                .speakers(v-if="item.speakers.length")
                  p Speakers:
                  .speaker-item(v-for="spk in item.speakers")
                    img(:src="speakers[spk-1].image")
                    //- img(src="./img/dp.jpg")
                    .descp
                      h3 {{speakers[spk-1].name}}
                      h4 {{speakers[spk-1].designation}} 
                      h4 {{speakers[spk-1].company}}
            
            .schedule(v-cloak)
              h3 Day 2: Wednesday, August 21
 
              .schedule-item(v-for="(item, index) in schedule1" :key="index" :class="item.class?item.class:''")
                .time {{item.start}}
                h3 {{item.item}}
                .details
                  p {{item.start}} - {{item.end}} 
                .description(v-if="item.description")
                  vue-simple-markdown(:source="item.description")

                .speakers(v-if="item.speakers.length")
                  p Speakers:
                  .speaker-item(v-for="spk in item.speakers")
                    img(:src="speakers[spk-1].image")
                    //- img(src="./img/dp.jpg")
                    .descp
                      h3 {{speakers[spk-1].name}}
                      h4 {{speakers[spk-1].designation}} 
                      h4 {{speakers[spk-1].company}}


          //- .col-sm-3.right_side
          //-   .venue-list
          //-     h4 Filter by Venue
          //-     ul
          //-       li(v-for="item in venues")
          //-         a(href="#" @click="filter_venue=item") {{item}}
          //-   .category-list
          //-     h4 Filter by Type
          //-     span(v-if="categories.length<2") No items
          //-     ul
          //-       li(v-for="item in categories" v-if="item")
          //-         a(href="#" @click="filter_cat=item") {{item}}

    include parts/footer.pug

script(src="./js/index.js")
script(src="./js/schedule.js")
